<section class="container padding-bottom-3x padding-top-3x">
    <h2 class="block-title text-center">
        Smart people. Brilliant ideas.

    </h2>
    <div class="row padding-top">
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/aman.jpg" alt="Team" style="height:250px;width:250px">
                        </div>
                        <div class="back">
                            <p class="padding-top"> IIT Roorkee Graduate, Design and UI/UX expert has been building products for the past 3 years. He manages the products</p>
                            <div class="social-bar">
                                <a href="https://www.linkedin.com/in/amanjot-malhotra-03220561" class="sb-skype" data-toggle="tooltip" title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="https://www.facebook.com/amanmalhotra911" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Amanjot Malhotra</h3>
                <p>Product Head</p>
            </div>
        </div>
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/gaurav.jpg" alt="Team" style="height:250px;width:250px">
                        </div>
                        <div class="back">
                            <p class="padding-top">Ex payTM Software Engineer, MEAN Stack/elastic search expert. He manages that your products are scale-able and ready to go</p>
                            <div class="social-bar">
                                <a href="https://www.linkedin.com/in/gauravsaini03" class="sb-skype" data-toggle="tooltip" title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="https://www.facebook.com/gauravsaini93" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Gaurav Saini</h3>
                <p>Technical Head</p>
            </div>
        </div>
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/shubham.jpg" alt="Team" style="height:250px;width:250px">
                        </div>
                        <div class="back">
                            <p class="padding-top">The Marketeer with the right kind of network, he takes care of all the projects and do all the work for you so that you can just sit back and relax.</p>
                            <div class="social-bar">
                                <a href="https://www.linkedin.com/in/shubham-goyal-b3406191" class="sb-skype" data-toggle="tooltip" title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="https://www.facebook.com/shubhamglad" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Shubham Goyal</h3>
                <p>Business Development</p>
            </div>
        </div>
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/tanbir.jpg" alt="Team" style="height:250px;width:250px">
                        </div>
                        <div class="back">
                            <p class="padding-top"> Front-End Designer and a big UI/UX enthusiast. She manages the products</p>
                            <div class="social-bar">
                                <a href="https://www.linkedin.com/in/puneetkohli171" class="sb-skype" data-toggle="tooltip" title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="https://www.facebook.com/tanbir.kaur.3" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Tanbir Kaur</h3>
                <p>Front-End Developer</p>
            </div>
        </div>
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/manan.png" alt="Team" style="height:250px;width:250px">
                        </div>
                        <div class="back">
                            <p class="padding-top">Loves to code, one of the most hard-working developers out there. One more thing he is still a college student</p>
                            <div class="social-bar">
                                <a href="https://www.linkedin.com/in/mananpal1997/
                    " class="sb-skype" data-toggle="tooltip" title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="https://www.facebook.com/manan.singh.777" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Manan Singh</h3>
                <p>Back-End Developer</p>
            </div>
        </div>
        <!-- Teammate
        <div class="col-lg-3 col-sm-6">
          <div class="teammate-1 text-center">
            <div class="thumbnail">
              <div class="flipper">
                <div class="front">
                  <img src="img/team/Taj.jpg" alt="Team" style="height:250px;width:250px">
                </div>
                <div class="back">
                  <p class="padding-top">Loves to code silently</p>
                  <div class="social-bar">
                    <a href="https://www.linkedin.com/in/karanraina" class="sb-skype" data-toggle="tooltip" title="Linkedin">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.facebook.com/karan.ssj4" data-toggle="tooltip" title="Facebook">
                      <i class="fa fa-facebook"></i>
                    </a>

                  </div>
                </div>
              </div>
            </div>
            <h3 class="teammate-name">Taj Ahmed</h3>
            <p>Back-End Developer</p>
          </div>
        </div>-->
        <!-- Teammate
        <div class="col-lg-3 col-sm-6">
          <div class="teammate-1 text-center">
            <div class="thumbnail">
              <div class="flipper">
                <div class="front">
                  <img src="img/team/amar.jpg" alt="Team" style="height:250px;width:250px">
                </div>
                <div class="back">
                  <p class="padding-top"></p>
                  <div class="social-bar">
                    <a href="https://www.linkedin.com/in/amu153" class="sb-skype" data-toggle="tooltip" title="Linkedin">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.facebook.com/amu153" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                      <i class="fa fa-facebook"></i>
                    </a>

                  </div>
                </div>
              </div>
            </div>
            <h3 class="teammate-name">Amardeep Kumar</h3>
            <p>Front-End Developer</p>
          </div>
        </div>-->
        <!-- Hiring
        <div class="col-lg-3 col-sm-6">
          <a href="contacts.html">
          <div class="teammate-2 text-center">
            <div class="thumbnail-static">
             < <img src="img/team/00.png" alt="Hiring" style="width:250px;height:250px;">
              <h4>We Are Hiring</h4>
            </div>
            <h3 class="teammate-name">Maybe You?</h3>
            <p>Designer, Developer</p>
          </div>
          </a>
        </div>
      </div><!.row -->
</section>